# .env.example

# Stripe variables
STRIPE_API_KEY=your_stripe_api_key
STRIPE_SECRET=your_stripe_secret

# Moniepoint variables
MONIEPOINT_API_KEY=your_moniepoint_api_key
MONIEPOINT_SECRET=your_moniepoint_secret

# Other environment variables
OTHER_VAR_1=value
OTHER_VAR_2=value
